In [1]:
USE Albarran_DW;

In [2]:
SELECT
    aa.nombre_mes AS nombre_mes_actual,
    aa.numero_mes AS numero_mes_actual,
    aa.ventas AS ventas_actual,
    aa.cantidad AS cantidad_actual,
    bb.numero_mes AS numero_mes_anterior,
    bb.nombre_mes AS nombre_mes_anterior,
    bb.ventas AS ventas_anterior,
    bb.cantidad AS cantidad_anterior
FROM
    (SELECT
        c.nombre_mes,
        c.numero_mes,
        SUM(a.precio) AS ventas,
        SUM(a.cantidad) AS cantidad
    FROM FACT_VENTA AS a
    JOIN DIM_FECHA AS b
    ON a.id_fecha = b.id_fecha
    JOIN DIM_MES AS c
    ON b.id_mes = c.id_mes
    GROUP BY numero_mes, nombre_mes) AS aa
LEFT JOIN 
    (SELECT
        c.nombre_mes,
        c.numero_mes,
        SUM(a.precio) AS ventas,
        SUM(a.cantidad) AS cantidad
    FROM FACT_VENTA AS a
    JOIN DIM_FECHA AS b
    ON a.id_fecha = b.id_fecha
    JOIN DIM_MES AS c
    ON b.id_mes = c.id_mes
    GROUP BY numero_mes, nombre_mes) AS bb
ON aa.numero_mes-1 = bb.numero_mes
ORDER BY 2
;

nombre_mes_actual,numero_mes_actual,ventas_actual,cantidad_actual,numero_mes_anterior,nombre_mes_anterior,ventas_anterior,cantidad_anterior
Enero,1,13869696,49,NULL,NULL,NULL,NULL
Febrero,2,18157496,54,1,Enero,13869696,49
Marzo,3,16758697,67,2,Febrero,18157496,54
Abril,4,21388097,79,3,Marzo,16758697,67
Mayo,5,17143700,56,4,Abril,21388097,79
Junio,6,15335897,57,5,Mayo,17143700,56
Julio,7,23527798,82,6,Junio,15335897,57
Agosto,8,19589298,75,7,Julio,23527798,82
Septiembre,9,13291998,39,8,Agosto,19589298,75
Octubre,10,19637899,68,9,Septiembre,13291998,39
Noviembre,11,12777898,42,10,Octubre,19637899,68
Diciembre,12,18515699,56,11,Noviembre,12777898,42

In [3]:
DROP VIEW IF EXISTS VIEW_PERIODO_ANTERIOR
GO
CREATE VIEW VIEW_PERIODO_ANTERIOR AS
SELECT
    aa.nombre_mes AS nombre_mes_actual,
    aa.numero_mes AS numero_mes_actual,
    aa.ventas AS ventas_actual,
    aa.cantidad AS cantidad_actual,
    bb.numero_mes AS numero_mes_anterior,
    bb.nombre_mes AS nombre_mes_anterior,
    bb.ventas AS ventas_anterior,
    bb.cantidad AS cantidad_anterior
FROM
    (SELECT
        c.nombre_mes,
        c.numero_mes,
        SUM(a.precio) AS ventas,
        SUM(a.cantidad) AS cantidad
    FROM FACT_VENTA AS a
    JOIN DIM_FECHA AS b
    ON a.id_fecha = b.id_fecha
    JOIN DIM_MES AS c
    ON b.id_mes = c.id_mes
    GROUP BY numero_mes, nombre_mes) AS aa
JOIN 
    (SELECT
        c.nombre_mes,
        c.numero_mes,
        SUM(a.precio) AS ventas,
        SUM(a.cantidad) AS cantidad
    FROM FACT_VENTA AS a
    JOIN DIM_FECHA AS b
    ON a.id_fecha = b.id_fecha
    JOIN DIM_MES AS c
    ON b.id_mes = c.id_mes
    GROUP BY numero_mes, nombre_mes) AS bb
ON aa.numero_mes-1 = bb.numero_mes
GO